// Шрифты
$font-main: '"Rubik", sans-serif;';

//  Цвета
$white: #fff;
$orange-gradient: #ffc736, #ff630c;
$orange: #ff922e;

$text-primary__bwin: #313446;
$text-secondary__bwin: #72768d;
$text-secondary-light__bwin: #a6aac3;
$text-secondary__gray: #6f728c;

$card-background__bwin: #f7f8fd;
$payments-background__bwin: #ebecf5a6;
$bwin-logo__background: #313446, #070b1f;
$bwin-info__background: #f1f3fd;

$button-green: #53af1b;
$button-gray: #ebecf57d;
