<td class="collapse-row__cell team">
  <img src="@@logo" alt="team_logo" class="opponent_logo" />
  <span class="team__long-name"> <a href="">@@name</a></span>
  <span class="team__short-name"> <a href="">@@shortName</a></span>
</td>
<td class="collapse-row__cell points">25</td>
<td class="collapse-row__cell points">13</td>
<td class="collapse-row__cell points">7</td>
<td class="collapse-row__cell points">1</td>
<td class="collapse-row__cell points">3</td>
<td class="collapse-row__cell points">4</td>
<td class="collapse-row__cell results">
  <img src="../../../files/img/games-result/draw.svg" alt="game-result" />
  <img src="../../../files/img/games-result/win.svg" alt="game-result" />
  <img src="../../../files/img/games-result/win.svg" alt="game-result" />
  <img src="../../../files/img/games-result/draw.svg" alt="game-result" />
  <img src="../../../files/img/games-result/lose.svg" alt="game-result" />
</td>
