<div class="parimatch__comment">
  <div class="comment__header">
    <img src="./files/img/commentman.jpg" alt="man" />
    <h2 class="header__title">Parimatch</h2>
    <p class="header__subtitle">Commnet from Author</p>
  </div>
  <p class="comment__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quaerat
    debitis neque quae in omnis beatae repellat error alias, excepturi ad ut
    quidem suscipit libero consequatur dolore. Atque, magni esse. Culpa repellat
    facere non officia ab blanditiis necessitatibus, consequuntur eos maiores
    magnam nesciunt magni dolores harum exercitationem officiis laboriosam
    quaerat soluta explicabo temporibus deleniti. Perspiciatis quas maxime fuga
    ab iusto? Ad repellat quod nisi, a saepe ipsum. Consequuntur numquam
    repellendus amet eaque suscipit quae excepturi facilis tempora voluptate
    dolore? Ratione maxime molestiae, minus veritatis reprehenderit iusto
    perferendis aliquid maiores voluptatem alias? Sit, velit. Necessitatibus
    eligendi fugiat optio.
  </p>
</div>
