<ul class="parimatch__info">
  <li class="info__item">
    <img src=".././files/img/info-icons/Calendar.svg" alt="calendar" />
    <h3 class="info__title">Foundation</h3>
    <p class="info__text">1994</p>
  </li>
  <li class="info__item">
    <img src=".././files/img/info-icons/Shield.svg" alt="shield" />
    <h3 class="info__title">Licensed</h3>
    <p class="info__text">Curaso GLH-OCCHKTW0706292016</p>
  </li>
  <li class="info__item">
    <img src=".././files/img/info-icons/Mobile-phone.svg" alt="mobile" />
    <h3 class="info__title">Apps</h3>
    <p class="info__text">IOS, Android, Windows</p>
  </li>
  <li class="info__item">
    <img src=".././files/img/info-icons/Location.svg" alt="location" />
    <h3 class="info__title">Country</h3>
    <p class="info__text">Europe, Russia, North American</p>
  </li>
  <li class="info__item">
    <img src=".././files/img/info-icons/Server.svg" alt="icon" />
    <h3 class="info__title">Apps</h3>
    <p class="info__text">IOS, Android, Windows</p>
  </li>
</ul>
