<div class="pari-payments" id="@@cardID">
  <ul class="pari-payments__group">
    <li class="payments__item">
      <img
        src="./files/img/payments/American Express.svg"
        alt="American Express"
      />
    </li>
    <li class="payments__item">
      <img src="./files/img/payments/Masterrcard.svg" alt="Discover" />
    </li>
    <li class="payments__item">
      <img src="./files/img/payments/JCB.svg" alt="JCB" />
    </li>
    <li class="payments__item">
      <img src="./files/img/payments/Maestro.svg" alt="Maestro" />
    </li>
    <li class="payments__item">
      <img src="./files/img/payments/UnionPay.svg" alt="UnionPay" />
    </li>
    <li class="payments__item">
      <img src="./files/img/payments/JCB.svg" alt="JCB" />
    </li>
  </ul>
</div>
