<li class="card">
  <div class="card__card-header">
    <div class="card__card-number">
      <span>
        <p>3</p>
        <img src="../files/img/Fire.svg" alt="fire" />
      </span>
    </div>
    @@include ('../components/rating.html')
  </div>
  <div class="card__card-content">
    <div class="card-content__wrapper">
      <div class="card-content__group">
        <div class="card-content__logo-bonus-group">
          <div class="card-content__logo">
            <img src="../files/img/bwincom-logo-light 1.svg" alt="BWIM-logo" />
          </div>
          <div class="card-content__bonus">
            <div class="bonus__header">
              <span>Welcome bonus</span>
            </div>
            <div class="bonus__title">
              <h1>100% Up to 500 $</h1>
            </div>
            <div class="bonus__info">
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit lacus
                tempor, vulputate id fames pulvinar curabitur faucibus.
              </p>
            </div>
          </div>
        </div>

        <div class="card-content__best">
          <div class="best__best-item">
            <p>Best odds</p>
          </div>
          <div class="best__best-item">
            <p>Casino</p>
          </div>
          <div class="best__best-item">
            <p>200+ Paymenth Method</p>
          </div>
          <div class="best__best-item">
            <p>Fast Payouts</p>
          </div>
        </div>
        <div class="card-content__payments">
          <div class="payments__payments-group">
            <div class="payments__payments-item">
              <img src="../files/img/payments/American Express.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/Discover.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/JCB.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/Maestro.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/UnionPay.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/JCB.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/Maestro.svg" alt="" />
            </div>
            <div class="payments__payments-item">
              <img src="../files/img/payments/UnionPay.svg" alt="" />
            </div>
          </div>
          <button class="payments__payments-info" id="toggle3">
            <img src="../files/img/line-info.svg" alt="line" />
            <p id="button__more-info">More info</p>
            <img src="../files/img/line-info.svg" alt="line" />
          </button>
        </div>
        <div class="card-content__buttons">
          <button class="button__claim">Claim bonus</button>
          <button class="button__rewiew" id="hideContent">Read Rewiew</button>
        </div>
      </div>
      <div class="card-content__info-section invisible" id="content3">
        <div class="info-section__wrapper">
          <div class="info-section__text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus velit repellat veritatis eum itaque aspernatur quis,
              eaque at iste neque tempora rerum molestiae nobis. Totam eveniet
              at vero consequuntur corporis?
            </p>
          </div>
          <div class="info-section__advantages">
            <span>Lorem, ipsum dolor.</span>
            <span>Lorem ipsum dolor sit.</span>
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <span>Lorem, ipsum.</span>
          </div>
          <div class="info-section__limitations">
            <span>Lorem, ipsum dolor.</span>
            <span>Lorem ipsum dolor sit.</span>
            <span>Lorem ipsum.</span>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
