.more_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  grid-area: infoButton;

  @include iPhone13 {
    padding: 15px 0;
  }

  @include iPhoneSE {
    padding: 15px 0;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #a6aac3;
    content: "";
  }

  p {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    color: $text-secondary-light__bwin;

    min-width: 110px;

    &::after {
      content: url(../../files/img/arrow-gray.svg);
      padding-left: 5px;
      padding-top: 3px;
      transform: rotate(180);
    }

    &:hover::after {
      content: url(../../files/img/arrow-blue.svg);
      padding-left: 5px;
      padding-top: 3px;
    }

    &:hover {
      color: $text-primary__bwin;
    }
  }
}
